.swiper {
    width: 100%;
    height: 100%;
}

.swiper {
    width: 100%;
    height: 400px;
    padding: 0 20px;
    margin: 20px auto;
}


.append-buttons {
    text-align: center;
    margin-top: 20px;
}

.append-buttons button {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #007aff;
    color: #007aff;
    text-decoration: none;
    padding: 4px 10px;
    border-radius: 4px;
    margin: 0 10px;
    font-size: 13px;
}

.swiper-button-prev {
    position: absolute;
    top: 90%;
    left: 40%;
}

.swiper-button-next {
    position: absolute;
    top: 90%;
    right: 40%;
}



@media screen and (min-width: 767px) {
    .swiper-button-prev {
        left: 45%;
    }

    .swiper-button-next {
        right: 45%;
    }
}
@media screen and (min-width: 1024px) {
    .swiper-button-prev {
        left: 47%;
    }

    .swiper-button-next {
        right: 47%;
    }
}

/*----------------------------- 
    tabs section content styles
--------------------------------*/
.tab_content, 
.switcher_content,
.currency_content {
    display: none;
    animation: moving .7s ease;
}



.tab_content.active,
.switcher_content.active,
.currency_content.active {
    display: block;
}



@keyframes moving {
    from{
        transform: translateX(100px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}